$topbar-bg-color: white;

.menu-icon {
    color: black !important;
}

#navBar {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e1e1e1;
    z-index: 90;
}

.top-bar .name h1 a {
    color: black !important;
    font-size: 1.3em !important;
}

.top-bar-section ul li>a {
     color: black !important;

     &:hover { 
         background : #e0e0e0 !important; 
         border-bottom: 5px solid black !important; 
         transition: all 0.5s ease-in-out;
     }
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background : #e0e0e0 !important; 
    border-bottom: 5px solid black !important;
}

#home {
    text-align: center;
    min-height: 100%;
    background: url(../Content/Images/wooden.jpg);
    background-size: 100% 100%;

    .home_scrollImage {
        background: url(../Content/Images/scroll.gif) no-repeat 50% 50% black;
        border: 1px solid white;
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
        border: 2px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-top: 290px;
    }

    .home_headers {
        color: white !important;

            h1 {
                margin-top: 50px;
                color: white !important;  
            }

            h5 { color : white; font-weight: bold; }
    }

    .home_footer {
        height: 5em;
        color: rgb(173, 216, 230);
        background: blue;
        position: absolute;
        bottom: 0px;

        .footer_text {
            h6 { color:white; font-weight:bold; }

            padding-top: 0.5em;
            text-align: left;
        }
    }

    @media #{$small-only} {
        .home_headers {
                 .heading {
                    margin-top: 100px;
                    font-size: 2em;
                    font-weight: 700;
                }
             }

        .home_footer {
            height: 7em;

            .footer_text {
                font-size: small;
            }

            .button {
                margin-top: 2em;
                font-size: x-small;
            }
        }
    }

    @media #{$medium-only} {
        .home_headers 
            {
                .heading {
                    margin-top: 100px;
                    font-size: 3em;
                }
            }
        .home_footer {
                .footer_text {
                    font-size: small;
                }
                .button {
                    margin-top: 0.5em;
                    font-size: small;
                }
            }
    }

    @media #{$large-up} {

        .home_headers .heading {
            margin-top: 150px;
            font-size: 3em;
        }

        .home_footer {

                .footer_text {
                padding-top: 0.5em;
                text-align: left;
                }

                .button {
                    margin-top: 0.5em;
                }

            }
    }
}

#profile {
    text-align: center;
    min-height: 100%;
    //background: url(../Content/Images/brick-wall.jpg);
    background-size: 100% 100%;
        background-image: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 50%,
    rgba(64, 64, 64, 0) 50%,
    rgba(64, 64, 64, 1) 100%), url(../Content/Images/brick-wall.jpg);
    position:relative;  
}

#resume {
    text-align: center;
    min-height: 100%;
    background: url(../Content/Images/swirl.jpg) no-repeat;
    background-size: 100% 100%;
}

#projects {
    text-align: center;
    min-height: 100%;
    background: url(../Content/Images/water.jpg) no-repeat;
    background-size: 100% 100%;
}

#contactMe {
    text-align: center;
    min-height: 100%;
    background: url(../Content/Images/clock.jpg) no-repeat;
    background-size: 100% 100%;

    .contactMe_body {
        top:150px;
        text-align: right;
        right:3%;
    }

    .social-icons {
        a {
            margin: 10px;
            font-weight: bold;
            color: black;
        }
    }

    .contactMe_footer a {
        color: black;
    }
}


@-webkit-keyframes menu { 
    0%{
        opacity:0;
        -webkit-transform:translateY(-90px);
        transform:translateY(-90px)
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}

.menu {
    -webkit-animation: menu 0.7s ease-in-out 0.5s backwards;
       -moz-animation: menu 0.7s ease-in-out 0.5s backwards;
        -ms-animation: menu 0.7s ease-in-out 0.5s backwards;
         -o-animation: menu 0.7s ease-in-out 0.5s backwards;
            animation: menu 0.7s ease-in-out 0.5s backwards;
}
