$topbar-bg-color: white;

.menu-icon {
    color: black !important;
}

#navBar {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 3px solid black;
    z-index: 90;
}

.top-bar .name h1 a {
    color: black !important;
    font-size: 1.3em !important;
}

.top-bar-section ul li>a {
     color: black !important;

     &:hover { 
         background : #e0e0e0 !important; 
         transition: all 0.5s ease-in-out;
     }
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background : #e0e0e0 !important; 
    border-bottom: 5px solid black !important;
}

#home {
    text-align: center;
    min-height: 100%;
    background: url(../Content/Images/wooden.jpg);
    background-size: 100% 100%;

    .home_scrollImage {
        background: url(../Content/Images/scroll.gif) no-repeat 50% 50% black;
        border: 1px solid white;
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
        border: 2px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-top: 290px;
    }

    .home_headers {
        color: white !important;

            h1 {
                margin-top: 50px;
                color: black !important; 
                font-weight: bold;
                text-decoration:double; 
            }

            h5 { color : black; font-weight: bold; text-decoration:underline; }
    }

    @media #{$small-only} {
        .home_headers {
                 .heading {
                    margin-top: 100px;
                    font-size: 2em;
                    font-weight: 700;
                }
             }

        .home_scrollImage {
            margin-top:240px;
        }
    }

    @media #{$medium-only} {
        .home_headers 
            {
                .heading {
                    margin-top: 100px;
                    font-size: 3em;
                }
            }
    }

    @media #{$large-up} {

        .home_headers .heading {
            margin-top: 150px;
            font-size: 3em;
        }
    }
}

#profile {
    text-align: center;
    min-height: 100%;
    //background: url(../Content/Images/brick-wall.jpg);
    background-size: 100% 100%;
        background-image: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 50%,
    rgba(64, 64, 64, 0) 50%,
    rgba(64, 64, 64, 1) 100%), url(../Content/Images/brick-wall.jpg);
    position:relative;  
}

#resume {
    text-align: center;
    min-height: 100%;
    background: #4d4b4b;

    .resume_largeBody {

        h3 {
            color:white;
            text-align: left;
            margin-top:80px;
            margin-left:30px;
        }

        iframe {
            min-width: 52em;
            height: 30em;
            margin-top:10px;
        }
    }

    .resume_mobileBody {
        height: 12em;
        background: #e0e0e0;
        color: black;
        top:200px;
        padding:1em;
        border-radius:10px;

        .button {
            background: #808080;
            color: white;
            border:1px solid white;
            margin-top:2em;            
            border-radius:10px;
        }  
    }

    @media #{$medium-only} {
        .resume_largeBody {
        iframe {
            min-width: 45em;
            height: 25em;
            margin-top:10px;
        }
    }
    }
}

#projects {
    text-align: center;
    min-height: 100%;
    background: url(../Content/Images/water.jpg) no-repeat;
    background-size: 100% 100%;
}

#contactMe {
    text-align: center;
    min-height: 100%;
    background: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 20%,
    rgba(64, 64, 64, 0) 99%,
    rgba(64, 64, 64, 1) 100%), #e0e0e0;
    position: relative; 

    .contactMe_body {
        top:150px;
    }

    .social-icons {
        a {
            margin: 10px;
            font-weight: bold;
            color: black;
        }
    }
            
    .contactMe_footer {
        height:10em;
        background: black;
        bottom: 0;
        position: absolute; 

        h6 {
            bottom: 0;
            color: white;
            position: absolute;
            right: 12px;
            width:auto;
        }
    }

    @media #{$small-only} {

    .contactMe_body {
        top:120px;
    }
    }




}


@-webkit-keyframes menu { 
    0%{
        opacity:0;
        -webkit-transform:translateY(-90px);
        transform:translateY(-90px)
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}

.menu {
    -webkit-animation: menu 0.7s ease-in-out 0.5s backwards;
       -moz-animation: menu 0.7s ease-in-out 0.5s backwards;
        -ms-animation: menu 0.7s ease-in-out 0.5s backwards;
         -o-animation: menu 0.7s ease-in-out 0.5s backwards;
            animation: menu 0.7s ease-in-out 0.5s backwards;
}
